@model AspNetMVCDevControllerConception.ViewModels.TestViewModel

@{
    ViewBag.Title = "CreateTest";
}

<h2>CreateTest</h2>


@using (Html.BeginForm("Create","Test", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>TestViewModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div id="questions">
    <button class="btn btn-sm" id="addQuestion">
        Add question
    </button>
</div>


<div class="question">
    <button class="btn btn-sm" id="addAnswer">
        Add answer variant
    </button>

    <input type="text" name="questionText"/>

    <div class="answer-variant">
        <input type="text">
        <input type="radio" name="optradio">
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $("#addAnswer")
        .on("click",
            function () {
                console.log("click");
               var $answerVar = $(".answer-variant").last().clone();
               $($answerVar).find(":input[type='text']").val("");
               var $customDiv = $("<div>").addClass("answer-variant");
               $customDiv.appendTo($(".question"));
                $answerVar.appendTo($(".question"));
                $(".question").append($($answerVar));
            });

    $("#addQuestion")
    .on("click",
        function () {
            var className = "question";
            var questionId = className + $("." + className).length;
            console.log(questionId);
            var $question = $("<div>").addClass(className).attr("id", questionId);
            var $addAnswerButton = $("<button>").addClass("btn btn-sm").attr("id", "addAnswer").html("Add answer");
            $addAnswerButton.appendTo($question);
            $question.appendTo($("#questions"));
        });

    function createAnswer(questionId) {
        var className = "answer-variant";
        var answerId = className + $("#" + questionId + " ." + className).length;
        console.log(answerId);
        var $answer = $("<div>").addClass(className).attr("id", answerId);
        $answer.appendTo($("#" + questionId));
    }

    function createQuestion(parameters) {
        
    }
</script>